*{
    margin: 0 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
}
.box{
    background-color: skyblue;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 170px;
}
button{
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 10px;
}
.green{
    background-color: green;
    color: black;
}
.carrot{
    background-color: orangered;
    color: white;
}