*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    height: 500px;
    background-color: #bbb;
    position: relative;
}

img{
    width: 200px;
    height: 200px;
    position: absolute;
    transform: skewY(15deg) scaleX(1.5);
} 

.beach1{
    top: 160px;
    left: 200px;
    z-index: 10;
}

.beach2{
    top: 140px;
    left: 325px;
    z-index: 8;
}

.beach3{
    top: 120px;
    left: 450px;
    z-index: 6;
}